
{% extends 'base.html' %}
{% block title %}Tasks{% endblock %}

{% block content %}



 <nav class="navbar navbar-expand-lg bg-primary text-light" style="margin-bottom:40px">
  <a class="navbar-brand text-light" href="#" style="margin-left:10px">Flask Task App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     <li class="nav-item">
       <!-- 
             <a class="nav-link text-light" aria-current="page" href="{{ url_for('index') }}">Home</a>
        -->
  
     </li>
     
     
   </ul>
   <div class="d-flex" >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">

      <li class="nav-item text-light">
        <a class="nav-link text-light" href="/login" style="margin-right:10px">Logout</a>
      </li>

      
    </ul>
  
   </div>
 
 </div>
</div>
</nav>





{% endblock %}
